<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:fragment="footer">
        <footer class="footer">
            <div class="footer-top">
                <span sec:authorize="isAuthenticated()">
                    Logged in as:
                    <strong><span sec:authentication="name"></span></strong>
                    | Roles:
                    <span sec:authentication="principal.authorities"></span>
                    | <a th:href="@{/logout}" class="logout-link">Logout</a>
                </span>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2026 YourShop. All rights reserved.</p>
            </div>
        </footer>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </div>

</div>