<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <!-- HEADER FRAGMENT -->
    <div th:fragment="header">
        <title th:text="#{thymeleaf.app.title}">Shop</title>

        <!-- Bootstrap -->
        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- jQuery -->
        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </div>

</head>

<body>

<!-- NAVBAR FRAGMENT -->
<div th:fragment="navbar">

    <nav class="custom-navbar">

        <div class="nav-container">

            <!-- Logo -->
            <a class="logo" th:href="@{/home}">🛒 ShopEasy</a>

            <!-- Links -->
            <div class="nav-links">

                <!-- Authenticated -->
                <a th:href="@{/shoppingCart}" sec:authorize="isAuthenticated()">Cart</a>

                <!-- Not Authenticated -->
                <a th:href="@{/registration}" sec:authorize="!isAuthenticated()">Register</a>
                <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>

                <!-- Authenticated -->
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="logout">Logout</a>

            </div>

        </div>

    </nav>

</div>

</body>
</html>